<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD51yQcoP4YcCXA4I5nRMEPOPXCukacZgs</string>
	<key>GCM_SENDER_ID</key>
	<string>22295475247</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.InstagramMock</string>
	<key>PROJECT_ID</key>
	<string>instagrammock-d9bfd</string>
	<key>STORAGE_BUCKET</key>
	<string>instagrammock-d9bfd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:22295475247:ios:8db12b44252fac24fec2da</string>
</dict>
</plist>